<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wat.springmvc.web.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.wat.springmvc.web.entity.User">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="balance" property="balance" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, username, age, balance
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="getAllUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wat.springmvc.web.entity.User">
		insert into user (id, name, username,
		age, balance)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER}, #{balance,jdbcType=DECIMAL})
	</insert>
	<insert id="insertSelective" parameterType="com.wat.springmvc.web.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="balance != null">
				balance,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="balance != null">
				#{balance,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wat.springmvc.web.entity.User">
		update user
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
			<if test="balance != null">
				balance = #{balance,jdbcType=DECIMAL},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wat.springmvc.web.entity.User">
		update user
		set name = #{name,jdbcType=VARCHAR},
		username = #{username,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER},
		balance = #{balance,jdbcType=DECIMAL}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>