<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wat.springmvc.web.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wat.springmvc.web.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_pw" property="loginPw" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, login_name, login_pw
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from UserInfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from UserInfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wat.springmvc.web.entity.UserInfo" >
    insert into UserInfo (id, username, login_name, 
      login_pw)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, 
      #{loginPw,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wat.springmvc.web.entity.UserInfo" >
    insert into UserInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="loginPw != null" >
        login_pw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPw != null" >
        #{loginPw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wat.springmvc.web.entity.UserInfo" >
    update UserInfo
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPw != null" >
        login_pw = #{loginPw,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wat.springmvc.web.entity.UserInfo" >
    update UserInfo
    set username = #{username,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      login_pw = #{loginPw,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>