<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="180" packages="">
	<properties>
		<property name="LOG_HOME">/opt/logs/springmvc</property>
		<property name="PATTERN">%d{HH:mm:ss,SSS} %-5level [%c{1.}] %C{1}  %m%n</property>
	</properties>
	<Appenders>
		<!--Console -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<!-- When bufferedIO is true, this is the buffer size, the default is 8192 
			bytes. -->
		<RollingFile name="InfoRollingFile" fileName="${LOG_HOME}-info-winchannel.log"
			filePattern="${LOG_HOME}-info-winchannel.log.%d{yyyy-MM-dd}" append="true"
			bufferedIO="true">
			<PatternLayout pattern="${PATTERN}" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY"
					onMismatch="ACCEPT" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

		<RollingFile name="ErrorRollingFile" fileName="${LOG_HOME}-error-winchannel.log"
			filePattern="${LOG_HOME}-error-winchannel.log.%d{yyyy-MM-dd}" append="true"
			bufferedIO="true">
			<PatternLayout pattern="${PATTERN}" />
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
		<!--异步appender -->
		<Async name="AsyncAppender" includeLocation="true">
			<AppenderRef ref="InfoRollingFile" />
			<AppenderRef ref="ErrorRollingFile" />
		</Async>
         
         <!-- 
		<Socket name="Logstash" host="10.32.23.253" port="4560" protocol="TCP">
			<PatternLayout pattern="${PATTERN}" />
		</Socket>
		 -->
	</Appenders>
	<Loggers>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="AsyncAppender" />
			<AppenderRef ref="Logstash" /> 
			<AppenderRef ref="Console" />
		</Root>
		
	</Loggers>
</Configuration>
